In [5]:
angka = 9
print(f"{angka} lebih besar dari 10")

9 lebih besar dari 10

In [6]:
if(angka>10):
  print(f"{angka} lebih besar dari 10")
else:
  print(f"{angka} tidak lebih besar dari 10")

9 tidak lebih besar dari 10

In [7]:
tukang_buah = ['mangga', 'apel', 'salak']

if 'jeruk' in tukang_buah:
  print('beli jeruk bang')
else:
  print('gajadi beli bang')

gajadi beli bang

In [9]:
if len(tukang_buah) > 2:
  print('mampir')

  if 'jeruk' in tukang_buah:
    print('beli jeruk bang')
  else:
    print('gajadi beli bang')

mampir
gajadi beli bang

In [13]:
# excersise

angka = input('masukkan angka : ')

if (int(angka) % 2) == 0:
  print(f'{angka} merupakan bilangan genap')
else:
  print(f'{angka} merupakan bilangan ganjil')

masukkan angka : 9
9 merupakan bilangan ganjil

In [14]:
# pass keyword

angka = 4

if angka % 2:
  pass
else:
  print('genap')

genap

In [15]:
i = 0

while i <= 10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9
10

In [25]:
# excersise
i = 1
j = 1

while j <= 10:
  print(f'{j} x {i} = {i*j}')

  while i <= 10:
    print(f'{j} x {i} = {i*j}')
    i += 1
    
  print('-'*12)
  i = 1
  j += 1

1 x 1 = 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
------------
2 x 1 = 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
------------
3 x 1 = 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
------------
4 x 1 = 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
------------
5 x 1 = 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
------------
6 x 1 = 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
------------
7 x 1 = 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
------------
8 x 1 = 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
------------
9 x 1 = 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
------------
10 x 1 = 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
------------

In [26]:
i = 0

while i < 10:
  print(i)
  if i == 4:
    break
  i += 1

0
1
2
3
4

In [28]:
i = 0

while i < 10:
  i += 1
  if i == 4:
    continue
  print(i)

1
2
3
5
6
7
8
9
10

In [30]:
i = 0
angka = 7
list_pembagi = list(range(2, angka))

while i < len(list_pembagi):
  if( angka % list_pembagi[i]) == 0:
    print(f'{angka} bukan bilangan prima')
    break
  i += 1
else:
  print(f'{angka} adalah bilangan prima')

7 adalah bilangan prima

In [31]:
i = 0

while i < len(tukang_buah):
  print(f'abangnya menjual {tukang_buah[i]}')
  i += 1

abangnya menjual mangga
abangnya menjual apel
abangnya menjual salak

In [32]:
for i in tukang_buah:
  print(f'abangnya menjual {i}')

abangnya menjual mangga
abangnya menjual apel
abangnya menjual salak

In [33]:
for i in range(len(tukang_buah)):
  print(f'abangnya menjual {tukang_buah[i]}')

abangnya menjual mangga
abangnya menjual apel
abangnya menjual salak

In [35]:
for j in range(1,11):
  for i in range(1,11):
    print(f'{j} x {i} = {i*j}')
  print('-'*12)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
------------
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
------------

In [37]:
angka = 7

for i in range(2, angka):
  if(angka % i) == 0:
    print(f'{angka} bukan bilangan prima')
    break
  i += 1
else:
  print(f'{angka} adalah bilangan prima')

7 adalah bilangan prima